/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 28, 2025, 8:16:13 AM
    Author     : admin
*/


.Main{
    -fx-background-color: #121212;
    -fx-padding:10;
    -fx-alignment:CENTER;
    -fx-spacing:10;
}
.Subject{
    -fx-font-size: 35;
    -fx-fill: #FFFFFF;
    -fx-stroke: gold;
    -fx-stroke-width:2;
    -fx-font-weight: bold;
}
.Button{
    -fx-font-size: 15;
    -fx-background-color: #333333 ;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width:150;
    -fx-font-weight: bold;
    
}